.card {
    height: 250px;
    width: 200px;
    background-color: darkslategrey;
    border: 5px solid yellowgreen;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 10px 5px 5px black;
    transition-duration: 2s;
    margin-left: 10px;
}